{"openapi":"3.1.0","info":{"title":"EGP API V4","description":"This is the parent API for all EGP APIs. If you are looking for the EGP API, please go to https://api.egp.scale.com/docs.","version":"0.1.0"},"servers":[{"url":"https://api.egp.scale.com"}],"paths":{"/v4/knowledge-bases":{"get":{"tags":["Knowledge Bases"],"summary":"List Knowledge Bases","description":"### Description\nLists all knowledge bases owned by the authorized user.\n\n### Details\nThis API can be used to list all knowledge bases that have been created by the user.         This API will return the details of all knowledge bases including their IDs, names, the         embedding models they use, any metadata associated with the knowledge bases, and the         timestamps for their creation, last-updated time.\n\n#### Backwards Compatibility\nV2 and V1 Knowledge Bases are entirely separate and not backwards compatible. Users who         have existing V1 knowledge bases will need to migrate their data to V2 knowledge bases.","operationId":"GET-V4-/knowledge-bases","parameters":[{"description":"Optional search by account_id","required":false,"schema":{"type":"string","title":"Account Id","description":"Optional search by account_id"},"name":"account_id","in":"query"},{"required":false,"schema":{"items":{"$ref":"#/components/schemas/KnowledgeBaseView"},"type":"array"},"name":"view","in":"query"},{"description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","required":false,"schema":{"type":"integer","minimum":1.0,"title":"Page","description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","default":1},"name":"page","in":"query"},{"description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","required":false,"schema":{"type":"integer","maximum":10000.0,"minimum":1.0,"title":"Limit","description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","default":100},"name":"limit","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedKnowledgeBaseItemV2"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"post":{"tags":["Knowledge Bases"],"summary":"Create Knowledge Base","description":"### Description\nCreates an EGP knowledge base.\n\n### Details\nA knowledge base is a storage device for all data that needs to be accessible to EGP models.         Users can upload data from a variety of data sources into a knowledge base, and then query the         knowledge base for chunks that are semantically relevant to the query.\n\nEvery knowledge base must be associated with a fixed embedding model. This embedding model         will be used to embed all data that is stored in the knowledge base. The embedding model         cannot be changed once the knowledge base is created. Only the embedding models in the         dropdown menu below are supported.\n\n#### Differences from V1\n- V1 data ingestion consisted of knowledge bases, vector stores, and data connectors.         V1 Knowledge bases interacted with natural language, V1 vector stores interacted with         chunks and embeddings, and V1 data connectors set up automatic ingestion pipelines with third         party data sources.\n- In V2, all data ingestion is done through knowledge bases. Low level configuration such as         chunking strategies and data sources are now handled by this unified knowledge base v2\nupload API.\n- The way data is stores in V2 allows for better observability on the ingestion progress and         content of the knowledge base.\n- Reliability and scalability is also improved via distributed temporal workflows.\n\n#### Backwards Compatibility\nV2 and V1 Knowledge Bases are entirely separate and not backwards compatible. Users who         have existing V1 knowledge bases will need to migrate their data to V2 knowledge bases.","operationId":"POST-V4-/v2/knowledge-bases","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateKnowledgeBaseRequestV2"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateKnowledgeBaseResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/knowledge-bases/{knowledge_base_id}":{"get":{"tags":["Knowledge Bases"],"summary":"Get Knowledge Base","description":"### Description\nGets the details of a knowledge base.\n\n### Details\nThis API can be used to get information about a single knowledge base by ID. To use this API,         pass in the `knowledge_base_id` that was returned from your [Create Knowledge Base API](         https://scale-egp.readme.io/reference/create_knowledge_base_v2) call as a path parameter.\n\nThis API will return the details of a knowledge base including its ID, name, the embedding         model it uses, any metadata associated with the knowledge base, and the timestamps for its\ncreation, last-updated time.\n\n#### Backwards Compatibility\nV2 and V1 Knowledge Bases are entirely separate and not backwards compatible. Users who         have existing V1 knowledge bases will need to migrate their data to V2 knowledge bases.","operationId":"GET-V4-/v2/knowledge-bases/{knowledge_base_id}","parameters":[{"required":true,"schema":{"type":"string","title":"Knowledge Base Id"},"name":"knowledge_base_id","in":"path"},{"description":"Optional query parameter to include a count of artifacts by status","required":false,"schema":{"type":"boolean","title":"Include Artifacts Status","description":"Optional query parameter to include a count of artifacts by status","default":false},"name":"include_artifacts_status","in":"query"},{"required":false,"schema":{"items":{"$ref":"#/components/schemas/KnowledgeBaseView"},"type":"array"},"name":"view","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KnowledgeBaseItemV2"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"delete":{"tags":["Knowledge Bases"],"summary":"Delete Knowledge Base","description":"### Description\nDeletes a knowledge base.\n\n### Details\nThis API can be used to delete a knowledge base by ID. To use this API, pass in the         `knowledge_base_id` that was returned from your [Create Knowledge Base API](         https://scale-egp.readme.io/reference/create_knowledge_base_v2) call as a path parameter.\n\n#### Backwards Compatibility\nV2 and V1 Knowledge Bases are entirely separate and not backwards compatible. Users who         have existing V1 knowledge bases will need to migrate their data to V2 knowledge bases.","operationId":"DELETE-V4-/v2/knowledge-bases/{knowledge_base_id}","parameters":[{"required":true,"schema":{"type":"string","title":"Knowledge Base Id"},"name":"knowledge_base_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteKnowledgeBaseResponseV2"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/knowledge-bases/{knowledge_base_id}/async-jobs":{"get":{"tags":["Knowledge Bases"],"summary":"List Upload Jobs","operationId":"GET-V4-/knowledge-bases/{knowledge_base_id}/async-jobs","parameters":[{"required":true,"schema":{"type":"string","title":"Knowledge Base Id"},"name":"knowledge_base_id","in":"path"},{"description":"Optional search by status type","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncJobAPIStatusEnum"},{"$ref":"#/components/schemas/GenericAsyncJobStatusEnum"}],"title":"Status","description":"Optional search by status type","default":"Active"},"name":"status","in":"query"},{"description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","required":false,"schema":{"type":"integer","minimum":1.0,"title":"Page","description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","default":1},"name":"page","in":"query"},{"description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","required":false,"schema":{"type":"integer","maximum":10000.0,"minimum":1.0,"title":"Limit","description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","default":100},"name":"limit","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/AsyncJobsEntity"},"type":"array","title":"Response Get-V4-/Knowledge-Bases/{Knowledge Base Id}/Async-Jobs"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/knowledge-bases/{knowledge_base_id}/chunks":{"get":{"tags":["Knowledge Bases"],"summary":"Get Chunks","description":"### Description\nGet chunks from a knowledge base using chunk IDs or a matching metadata field\n\n    ### Details\n    This API can be used to get a list of chunks from a knowledge base. Given a chunk id,             a metadata field and value, or both, matching chunks are searched for in the knowledge base             given by knowledge base id.","operationId":"GET-V4-/v2/knowledge-bases/{knowledge_base_id}/chunks","parameters":[{"required":true,"schema":{"type":"string","title":"Knowledge Base Id"},"name":"knowledge_base_id","in":"path"},{"description":"Optional search by chunk_id","required":false,"schema":{"type":"string","title":"Chunk Id","description":"Optional search by chunk_id"},"name":"chunk_id","in":"query"},{"description":"Optional search by metadata fields, encoded as a JSON object","required":false,"schema":{"type":"string","title":"Metadata Filters","description":"Optional search by metadata fields, encoded as a JSON object"},"name":"metadata_filters","in":"query"},{"description":"Maximum number of chunks returned by the get_chunks endpoint. Defaults to 10 and cannot be greater than 2000.","required":false,"schema":{"type":"integer","maximum":2000.0,"minimum":1.0,"title":"Max Chunks","description":"Maximum number of chunks returned by the get_chunks endpoint. Defaults to 10 and cannot be greater than 2000.","default":10},"name":"max_chunks","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetChunksResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/knowledge-bases/{knowledge_base_id}/query":{"post":{"tags":["Knowledge Bases"],"summary":"Query Relevant Chunks","description":"### Description\nQuery a knowledge base for text chunks that are most semantically relevant to the query.\n\n### Details\nGiven a query expressed as an embedding, this API runs a similarity search amongst the         embeddings indexed in the knowledge base to find the most relevant chunk embeddings. To use         this API, specify the `knowledge_base_id` of the knowledge base you want to query, pass in         the natural language `query` that you want to search for, specify the value `top_k`,         which is the number of similar chunks that will be returned, and specify whether you want         the returned chunks to `include_embeddings`.\n\nSimilarity search is used to efficiently find, retrieve, and rank chunks based on their         similarity to a given query, which is also expressed as an embedding. Similarity scores (         using the cosine similarity metric) are calculated between each chunk embedding and the         embedded query, and the chunks are ranked based on similarity score. The top-ranked chunks         are returned as the query results.\n\nWe are using the Hierarchical Navigable Small World (HNSW) algorithm to perform a k nearest         neighbors search in the vector space. This algorithm returns an estimate of the best k         nearest neighbors and is optimized for datasets with hundreds of thousands of vectors. You         can read more about the specifics of this algorithm [here](         https://opensearch.org/docs/1.0/search-plugins/knn/approximate-knn/).\n\n#### Backwards Compatibility\nV2 and V1 Knowledge Bases are entirely separate and not backwards compatible. Users who         have existing V1 knowledge bases will need to migrate their data to V2 knowledge bases.","operationId":"POST-V4-/v2/knowledge-bases/{knowledge_base_id}/query","parameters":[{"required":true,"schema":{"type":"string","title":"Knowledge Base Id"},"name":"knowledge_base_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryKnowledgeBaseRequestV2"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/knowledge-bases/{knowledge_base_id}/data-source-connections/{knowledge_base_data_source_id}/delete":{"post":{"tags":["Knowledge Bases"],"summary":"Delete Knowledge Base Data Source Connection","operationId":"POST-V4-/knowledge-bases/{knowledge_base_id}/data-source-connections/{knowledge_base_data_source_id}/delete","parameters":[{"required":true,"schema":{"type":"string","title":"Knowledge Base Id"},"name":"knowledge_base_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Knowledge Base Data Source Id"},"name":"knowledge_base_data_source_id","in":"path"},{"description":"Dryrun query parameter to determine first how many things will be deleted","required":false,"schema":{"type":"boolean","title":"Dry Run","description":"Dryrun query parameter to determine first how many things will be deleted","default":false},"name":"dry_run","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteKnowledgeBaseDataSourceConnectionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/knowledge-bases/{knowledge_base_id}/upload_files":{"post":{"tags":["Knowledge Bases"],"summary":"Submit Upload Job with local files","operationId":"POST-V4-/knowledge-bases/{knowledge_base_id}/upload_files","parameters":[{"required":true,"schema":{"type":"string","title":"Knowledge Base Id"},"name":"knowledge_base_id","in":"path"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body_POST-V4-_knowledge-bases__knowledge_base_id__upload_files"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateKnowledgeBaseV2UploadsFromFilesResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/knowledge-bases/{knowledge_base_id}/uploads":{"get":{"tags":["Knowledge Bases"],"summary":"List Upload Jobs","description":"### Description\nList all uploads for a knowledge base.\n\n### Details\nThis API can be used to list all uploads that have been created for a knowledge base.         This API will return the details of all uploads including their IDs, their statuses, the         data source configs they use, the chunking strategy configs they use, and the timestamps for         their creation and last-updated time.\n\n#### Backwards Compatibility\nV2 and V1 Knowledge Bases are entirely separate and not backwards compatible. Users who         have existing V1 knowledge bases will need to migrate their data to V2 knowledge bases.","operationId":"GET-V4-/knowledge-bases/{knowledge_base_id}/uploads","parameters":[{"required":true,"schema":{"type":"string","title":"Knowledge Base Id"},"name":"knowledge_base_id","in":"path"},{"required":false,"schema":{"$ref":"#/components/schemas/UploadJobStatus"},"name":"status","in":"query"},{"description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","required":false,"schema":{"type":"integer","minimum":1.0,"title":"Page","description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","default":1},"name":"page","in":"query"},{"description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","required":false,"schema":{"type":"integer","maximum":10000.0,"minimum":1.0,"title":"Limit","description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","default":100},"name":"limit","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedKnowledgeBaseUpload"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"post":{"tags":["Knowledge Bases"],"summary":"Submit Upload Job","operationId":"POST-V4-/v2/knowledge-bases/{knowledge_base_id}/uploads","parameters":[{"required":true,"schema":{"type":"string","title":"Knowledge Base Id"},"name":"knowledge_base_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateKnowledgeBaseV2UploadRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateKnowledgeBaseV2UploadResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/knowledge-bases/{knowledge_base_id}/uploads/{upload_id}":{"get":{"tags":["Knowledge Bases"],"summary":"Get Upload Job","operationId":"GET-V4-/v2/knowledge-bases/{knowledge_base_id}/uploads/{upload_id}","parameters":[{"required":true,"schema":{"type":"string","title":"Knowledge Base Id"},"name":"knowledge_base_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Upload Id"},"name":"upload_id","in":"path"},{"required":false,"schema":{"type":"boolean","title":"Include Artifact List","default":true},"name":"include_artifact_list","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetKnowledgeBaseV2UploadResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/knowledge-bases/{knowledge_base_id}/uploads/{upload_id}/cancel":{"post":{"tags":["Knowledge Bases"],"summary":"Cancel Upload Job","operationId":"POST-V4-/v2/knowledge-bases/{knowledge_base_id}/uploads/{upload_id}/cancel","parameters":[{"required":true,"schema":{"type":"string","title":"Knowledge Base Id"},"name":"knowledge_base_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Upload Id"},"name":"upload_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelKnowledgeBaseV2UploadResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/knowledge-bases/{knowledge_base_id}/artifacts":{"get":{"tags":["Knowledge Bases"],"summary":"List Tracked Artifacts","description":"### Description\nList all artifacts tracked by a knowledge base.\n\n### Details\nThis API can be used to list all artifacts that are currently tracked in a knowledge base.         This API will return the details of all artifacts including their IDs, names, the source they         originated from, their current upload statuses, and the timestamps for their creation and\nlast-updated time.\n\nThis list should be consistent with the state of the data source at the time of start of the         latest upload. If the state is not consistent, create a new upload to update the knowledge         base to reflect the latest state of the data source.","operationId":"GET-V4-/knowledge-bases/{knowledge_base_id}/artifacts","parameters":[{"required":true,"schema":{"type":"string","title":"Knowledge Base Id"},"name":"knowledge_base_id","in":"path"},{"description":"Get artifacts only with the specified status. Accepted values are: Pending, Completed, Failed, Uploading, Deleting","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/egp_api_backend__server__api__models__egp_models__ArtifactUploadStatus"}],"description":"Get artifacts only with the specified status. Accepted values are: Pending, Completed, Failed, Uploading, Deleting"},"name":"status","in":"query"},{"description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","required":false,"schema":{"type":"integer","minimum":1.0,"title":"Page","description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","default":1},"name":"page","in":"query"},{"description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","required":false,"schema":{"type":"integer","maximum":10000.0,"minimum":1.0,"title":"Limit","description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","default":100},"name":"limit","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedArtifactInfo"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/knowledge-bases/{knowledge_base_id}/artifacts/{artifact_id}":{"get":{"tags":["Knowledge Bases"],"summary":"Get Tracked Artifact Details","description":"### Description\nGets the details of an artifact tracked by a knowledge base.\n\n### Details\nThis API can be used to get information about a single artifact by ID. This response will         contain much more detail about the artifact than show in the         [List Artifacts API](https://scale-egp.readme.io/reference/list_knowledge_base_artifacts_v2)         call. To use this API, pass in the `knowledge_base_id` and `artifact_id` that were returned         from your [List Artifacts API](         https://scale-egp.readme.io/reference/list_knowledge_base_artifacts_v2) call as path         parameters.\n\n#### Compatibility with V1\nV2 and V1 Knowledge Bases are entirely separate and not backwards compatible. Users who         have existing V1 knowledge bases will need to migrate their data to V2 knowledge bases.","operationId":"GET-V4-/v2/knowledge-bases/{knowledge_base_id}/artifacts/{artifact_id}","parameters":[{"required":true,"schema":{"type":"string","title":"Knowledge Base Id"},"name":"knowledge_base_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Artifact Id"},"name":"artifact_id","in":"path"},{"required":false,"schema":{"type":"string","title":"Status Filter"},"name":"status_filter","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetKnowledgeBaseV2ArtifactResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"delete":{"tags":["Knowledge Bases"],"summary":"Delete Locally Stored Artifact","operationId":"DELETE-V4-/knowledge-bases/{knowledge_base_id}/artifacts/{artifact_id}","parameters":[{"required":true,"schema":{"type":"string","title":"Knowledge Base Id"},"name":"knowledge_base_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Artifact Id"},"name":"artifact_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteKnowledgeBaseV2LocalArtifactResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/knowledge-base-data-sources/{knowledge_base_data_source_id}/verify":{"post":{"tags":["Knowledge Bases"],"summary":"Test Knowledge Base Data Source credentials","operationId":"POST-V4-/v3/knowledge-base-data-sources/{knowledge_base_data_source_id}/verify","parameters":[{"required":true,"schema":{"type":"string","title":"Knowledge Base Data Source Id"},"name":"knowledge_base_data_source_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/knowledge-bases/{knowledge_base_id}/artifacts/batch-delete":{"post":{"tags":["Knowledge Bases"],"summary":"Batch Delete Locally Stored Artifacts","operationId":"POST-V4-/knowledge-bases/{knowledge_base_id}/artifacts/batch-delete","parameters":[{"required":true,"schema":{"type":"string","title":"Knowledge Base Id"},"name":"knowledge_base_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkDeleteKnowledgeBaseV2LocalArtifactRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkDeleteKnowledgeBaseV2LocalArtifactResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/chunks/rank":{"post":{"tags":["Chunks"],"summary":"Rank Chunks","description":"### Description\nSorts a list of text chunks by similarity against a given query string.\n\n### Details\nUse this API endpoint to rank which text chunks provide the most relevant responses to a         given a query string.\n\nThis is useful for stuffing chunks into a prompt where order may matter or for filtering out         less relevant chunks according to the ranking strategy. For example, this API may be useful         when doing retrieval augment generation (RAG). Sometimes vector store [similarity search](         https://scale-egp.readme.io/reference/query_vector_store) does not always return the best         ranking of text chunks, since this is heavily dependent on embedding generation. This API         endpoint can act as a post-processing step to re-sort the given chunks using more complex         strategies that may outperform vector search, and then filter only the top-k most relevant         chunks to stuff into the prompt for RAG.\n\n### Restrictions and Limits\nRanking can be a very intensive and slow process depending on methodology where duration         scales with number of chunks. For best performance, we recommend ranking less than 640 chunks         at a time, and you may see a decrease in performance as the number of chunks ranked increases.","operationId":"POST-V4-/v2/chunks/rank","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChunksRankRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChunksRankResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/chunks/synthesis":{"post":{"tags":["Chunks"],"summary":"Synthesize Chunks","description":"### Description\nSynthesizes a response to the given query using the given chunks as context.\n\n### Details\nThis API operates on \"chunks,\" which are the result of [querying a vector store](         https://scale-egp.readme.io/reference/query_vector_store).         A chunk is simply a fragment of a larger document.         It can optionally have its own metadata or ID.         You can also construct your own chunks from scratch so long as you provide the text         pertaining to each chunk.\n\nSynthesizing chunks can be thought of as the final step in a retrieval augmented generation (         RAG) system, after querying for chunks and potentially [ranking them](         https://scale-egp.readme.io/reference/rank_chunks).         Once you have the relevant chunks to use to respond to the user, you'll want to synthesize a         readable natural language answer.         During this synthesis step, we prompt an LLM with instructions and a set of (possibly         transformed) chunks to guide it toward synthesizing a natural language response to the user         query.\n\nThere are several synthesis strategies, whose difference become more apparent as the number         of chunks increases.         Currently, EGP supports the `compact` strategy by default: stuff as many chunks into the         synthesis LLM as possible, produce a best-effort answer, then continue to stuff and answer         the next set of chunks.         The answer is passed through and gradually refined with each iteration of chunk scanning.         This continues until all chunks have been scanned and a final answer is synthesized.         More synthesis strategies are currently in development!\n\n### Restrictions and Limits\nGenerally, chunk synthesis increases its token consumption linearly the number of         chunk-tokens.\nThe `compact` strategy attempts to be as token-efficient as possible by stuffing tokens into         each round of chunk scanning.         Other strategies (in development!) may produce better summaries or more precise answers at         the expense of more tokens consumed.\n\nBroadly, we recommend keeping the number of chunks to under 100, or the total number of         tokens across all chunks under around 10,000.","operationId":"POST-V4-/v2/chunks/synthesis","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SynthesizeChunksRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SynthesizeChunksResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/agents/execute":{"post":{"tags":["Agents"],"summary":"Execute Agent","description":"### Description\nExecutes one Agent inference step. Given a list of messages and a list of tools to ask         for help from, the Agent will either respond with a final answer directly or ask the user to         execute a tool to provide more information.\n\n### Details\nAn Agent is a component that utilizes a Language Model (LLM) as an interpreter and decision         maker. Unlike asking an LLM for a direct response, communicating with an agent consists of a         running dialogue where an agent can optionally ask the user to execute specialized tools for         specific tasks, such as calculations, web searches, or accessing custom data from private         knowledge bases.\n\nAn agent is designed to be stateless, emitting outputs one step at a time. This means that         client-side applications are responsible for managing message history, tool execution,         and responses. This grants users greater flexibility to write and execute custom tools         and maintain explicit control over their message history.\n\n#### Message Types\n- `User Message`: A message from the user to the agent.\n- `System Message`: An informational text message from the system to guide the agent. It is         not a user message or agent message because it did not come from either entity.\n- `Agent Message`: A message from the agent to the client. It will contain either a final         answer as `content` or a request for the user to execute a tool as a `tool_request`.\n- `Tool Message`: A message from the user to the agent that contains the output of a tool         execution. The tool message will be processed by the agent and the agent will respond with         either a final answer or another tool request.\n\n#### Agent Instructions\nInstructions are used to guide the agent's decision making process and output generation.\n\nGood prompt engineering is crucial to getting performant results from the agent. If you are         having trouble getting the agent to perform well, try writing more specific instructions         before trying more expensive techniques such as swapping in other models or finetuning the         underlying LLM.\n\nFor example, the default instructions we set for the agent are the following:\n\n> You are an AI assistant that helps users with their questions. You can answer questions         directly or acquire information from any of the attached tools to assist you. Always answer         the user's most recent query to the best of your knowledge.<br>\n> When asked about what tools are available, you must list each attached tool's name         and description. When asked about what you can do, mention that in addition to your normal         capabilities, you can also use the attached tools by listing their names and descriptions.         You cannot use any other tools other than the ones provided to you explicitly.\n\n\n### Restrictions and Limits\n**Message Limits**:\n  - The message list is not limited by length, but by the context limit of the underlying           language model. If you are getting an error regarding the underlying model's context           limit, try using a memory strategy to condense the input messages.\n\n**Model Restrictions**:\n  - Currently, only closed source models like GPT and Claude are supported due to the           limitations of open source models when it comes to tool selection, generating tool           arguments in valid JSON, and planning out multi-step tool execution. Specialized           fine-tuning will likely be required to make open source models compatible with agents.","operationId":"POST-V4-/v2/agents/execute","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecuteAgentRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecuteAgentResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/completions":{"post":{"tags":["Completions"],"summary":"Create Completion","description":"### Description\nGiven a user's input, runs LLM inference to produce the model's response.\n\n### Details\nLLM [completions](https://scale-egp.readme.io/docs/completions-1) have many use cases,         such as content summarization, question-answering, and text generation.\n\nThe `model` parameter determines which LLM will be used to generate the completion. Keep in         mind that different models have varying sizes, costs, and may perform differently across         different tasks.\n\nThe user input, commonly referred to as the \"prompt\", is a required field in the request         body. The quality of the model's response can vary greatly depending on the input prompt.         Good prompt engineering can significantly enhance the response quality. If you encounter         suboptimal results, consider writing more specific instructions or providing examples to the         LLM before trying more expensive techniques  such as swapping in other models or finetuning.\n\nBy default, the endpoint will return the entire response as one whole object. If you would         prefer to stream the completion in real-time, you can achieve this by setting the `stream`         flag to `true`.","operationId":"POST-V4-/v2/completions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCompletionRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCompletionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/chat-completions":{"post":{"tags":["Chat Completions"],"summary":"Create Chat Completion","description":"### Description\nGiven a list of messages representing a conversation history, runs LLM inference to produce         the next message.\n\n### Details\nLike [completions](https://scale-egp.readme.io/docs/completions-1), [chat completions](         https://scale-egp.readme.io/docs/chat-completions-intro) involve an LLM's response to input.         However, chat completions take a conversation history as input, instead of a single prompt,         which enables the LLM to create responses that take past context into account.\n\n### Messages\nThe primary input to the LLM is a list of messages represented by the `messages` array,         which forms the conversation. The `messages` array must contain at least one `message` object. \nEach `message` object is attributed to a specific entity through its `role`. The available         roles are:\n   - `user`: Represents the human querying the model.            - `assistant`: Represents the model responding to user.            - `system`: Represents a non-user entity that provides information to guide the behavior            of the assistant.\n\nWhen the `role` of a `message` is set to `user`, `assistant`, or `system`, the `message` must         also contain a `content` field which is a string representing the actual text of the message         itself. Semantically, when the `role` is `user`, `content` contains the user's query. When         the `role` is `assistant`, `content` is the model's response to the user. When the `role` is         `system`, `content` represents the instruction for the assistant.\n\n### Instructions\nYou may provide instructions to the assistant by supplying by supplying `instructions` in the         HTTP request body or by specifying a `message` with `role` set to `system` in the `messages`         array. By convention, the system message should be the first message in the array. Do **not**         specify both an instruction and a system message in the `messages` array.","operationId":"POST-V4-/v2/chat-completions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateChatCompletionRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateChatCompletionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/models/{model_instance_id}/deployments/{model_deployment_id}/execute":{"post":{"tags":["Models"],"summary":"Execute Model Deployment","operationId":"POST-V4-/v4/models/{model_instance_id}/deployments/{model_deployment_id}/execute","parameters":[{"required":true,"schema":{"type":"string","title":"Model Instance Id"},"name":"model_instance_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Model Deployment Id"},"name":"model_deployment_id","in":"path"},{"required":false,"schema":{"type":"string","title":"X-Selected-Account-Id"},"name":"x-selected-account-id","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericModelRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericModelResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/models/{model_deployment_id}/embeddings":{"post":{"tags":["Models"],"summary":"Generate text embedding","description":"### Description\nComputes the text embeddings for text fragments using the model with the given model_deployment_id.\n\n### Details\nUsers can use this API to execute EMBEDDING type EGP model they have access to. To use this API, pass in         the `id` of a model returned by the V3 Create Model API. An example text embedding request\n\n```json\n{\n    \"texts\": [\"Please compute my embedding vector\", \"Another text fragment\"]\n}\n```","operationId":"POST-V4-/v3/models/{model_deployment_id}/embeddings","parameters":[{"required":true,"schema":{"type":"string","title":"Model Deployment Id"},"name":"model_deployment_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmbeddingRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmbeddingResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v4/models/{model_deployment_id}/rerankings":{"post":{"tags":["Models"],"summary":"Generate reranking","description":"### Description\nTODO: Documentation","operationId":"POST-V4-/v3/models/{model_deployment_id}/rerankings","parameters":[{"required":true,"schema":{"type":"string","title":"Model Deployment Id"},"name":"model_deployment_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RerankingRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RerankingResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v4/models/{model_deployment_id}/completions":{"post":{"tags":["Models"],"summary":"Generate completion","description":"### Description\n\nInteract with the LLM model using the specified model_deployment_id. The LLM model will generate a text completion based on the provided prompt.\n\n```json\n{\n    \"prompt\": \"What is the capital of France?\"\n}\n```","operationId":"POST-V4-/models/{model_deployment_id}/completions","parameters":[{"required":true,"schema":{"type":"string","title":"Model Deployment Id"},"name":"model_deployment_id","in":"path"},{"required":false,"schema":{"type":"string","title":"X-Selected-Account-Id"},"name":"x-selected-account-id","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompletionRequestV2"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompletionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/models/{model_deployment_id}/chat-completions":{"post":{"tags":["Models"],"summary":"Generate chat completion","description":"### Description\n\nInteract with the LLM model using the specified model_deployment_id. You can include a list of messages as the conversation history.         The conversation can feature multiple messages from the roles user, assistant, and system. If the chosen model does not support chat completion,         the API will revert to simple completion, disregarding the provided history. The endpoint manages context length exceedance optimistically:         it estimates the token count from the provided history and prompt, and if it exceeds the context or approaches 80% of it, the exact token count will be calculated, and the history will be trimmed to fit the context.\n\n```json\n{\n    \"prompt\": \"Generate 5 more\",\n    \"chat_history\": [\n        { \"role\": \"system\", \"content\": \"You are a name generator. Do not generate anything else than names\" },\n        { \"role\": \"user\", \"content\": \"Generate 5 names\" },\n        { \"role\": \"assistant\", \"content\": \"1. Olivia Bennett\\n2. Ethan Carter\\n3. Sophia Ramirez\\n4. Liam Thompson\\n5. Ava Mitchell\" }\n    ],\n}\n```","operationId":"POST-V4-/v4/models/{model_deployment_id}/chat-completions","parameters":[{"required":true,"schema":{"type":"string","title":"Model Deployment Id"},"name":"model_deployment_id","in":"path"},{"required":false,"schema":{"type":"string","title":"X-Selected-Account-Id"},"name":"x-selected-account-id","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatCompletionRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompletionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/models/{model_instance_id}/deployments":{"get":{"tags":["Models"],"summary":"List Model Deployments of a Model","description":"TODO: Document","operationId":"GET-V4-/models/{model_instance_id}/deployments","parameters":[{"required":true,"schema":{"type":"string","title":"Model Instance Id"},"name":"model_instance_id","in":"path"},{"required":false,"schema":{"items":{"$ref":"#/components/schemas/SortByEnumForModelDeployment"},"type":"array"},"name":"sort_by","in":"query"},{"description":"Optional filter by account id","required":false,"schema":{"type":"string","title":"Account Id","description":"Optional filter by account id"},"name":"account_id","in":"query"},{"description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","required":false,"schema":{"type":"integer","minimum":1.0,"title":"Page","description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","default":1},"name":"page","in":"query"},{"description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","required":false,"schema":{"type":"integer","maximum":10000.0,"minimum":1.0,"title":"Limit","description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","default":100},"name":"limit","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedModelDeploymentResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"post":{"tags":["Models"],"summary":"Deploy Model","description":"### Description\n\nModel Deployments are unique endpoints created for custom models in the Scale GenAI Platform. They enable users to interact with and utilize specific instances of models through the API/SDK.\nEach deployment is associated with a model instance, containing the necessary model template and model-metadata. Model templates describe the creation parameters that are configured on the deployment.\nThe model deployments provide a means to call upon models for inference, logging calls, and monitoring usage.\n\nBuilt-in models also have deployments for creating a consistent interface for all models. But they don't represent a real deployment, they are just a way to interact with the built-in models. These deployments are created automatically when the model is created and they are immutable.\n\n### Endpoint details\n\nThis endpoint is used to deploy a model instance. The request payload schema depends on the `model_request_parameters_schema` of the Model Template that the created model was created from.","operationId":"POST-V4-/v3/models/{model_instance_id}/deployments","parameters":[{"required":true,"schema":{"type":"string","title":"Model Instance Id"},"name":"model_instance_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelDeploymentRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelDeploymentResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/models/{model_name}/usage-statistics":{"get":{"tags":["Models"],"summary":"Get Model usage by model name","operationId":"GET-V4-/v3/models/{model_name}/usage-statistics","parameters":[{"required":true,"schema":{"type":"string","title":"Model Name"},"name":"model_name","in":"path"},{"required":true,"schema":{"type":"string","format":"date-time","title":"Start Date"},"name":"start_date","in":"query"},{"required":true,"schema":{"type":"string","format":"date-time","title":"End Date"},"name":"end_date","in":"query"},{"required":true,"schema":{"type":"integer","title":"Chunks"},"name":"chunks","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelUsageResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/model-deployments":{"get":{"tags":["Models"],"summary":"List All Model Deployments","description":"TODO: Document","operationId":"GET-V4-/model-deployments","parameters":[{"required":false,"schema":{"items":{"$ref":"#/components/schemas/SortByEnumForModelDeployment"},"type":"array"},"name":"sort_by","in":"query"},{"description":"Optional filter by account id","required":false,"schema":{"type":"string","title":"Account Id","description":"Optional filter by account id"},"name":"account_id","in":"query"},{"description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","required":false,"schema":{"type":"integer","minimum":1.0,"title":"Page","description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","default":1},"name":"page","in":"query"},{"description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","required":false,"schema":{"type":"integer","maximum":10000.0,"minimum":1.0,"title":"Limit","description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","default":100},"name":"limit","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedModelDeploymentResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/model-deployments/{model_deployment_id}/usage-statistics":{"get":{"tags":["Models"],"summary":"Get Model usage for one deployment","operationId":"GET-V4-/v3/model-deployments/{model_deployment_id}/usage-statistics","parameters":[{"required":true,"schema":{"type":"string","title":"Model Deployment Id"},"name":"model_deployment_id","in":"path"},{"required":true,"schema":{"type":"string","format":"date-time","title":"Start Date"},"name":"start_date","in":"query"},{"required":true,"schema":{"type":"string","format":"date-time","title":"End Date"},"name":"end_date","in":"query"},{"required":true,"schema":{"type":"integer","title":"Chunks"},"name":"chunks","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelUsageResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/model-groups/{model_group_id}/models/{model_instance_id}":{"post":{"tags":["Models"],"summary":"Add model to group","description":"TODO: Add model instance to a model group.","operationId":"POST-V4-/v3/model-groups/{model_group_id}/models/{model_instance_id}","parameters":[{"required":true,"schema":{"type":"string","title":"Model Group Id"},"name":"model_group_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Model Instance Id"},"name":"model_instance_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelInstanceResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/model-groups/{model_group_id}/usage-statistics":{"get":{"tags":["Models"],"summary":"Get Model usage for a group","operationId":"GET-V4-/v3/model-groups/{model_group_id}/usage-statistics","parameters":[{"required":true,"schema":{"type":"string","title":"Model Group Id"},"name":"model_group_id","in":"path"},{"required":true,"schema":{"type":"string","format":"date-time","title":"Start Date"},"name":"start_date","in":"query"},{"required":true,"schema":{"type":"string","format":"date-time","title":"End Date"},"name":"end_date","in":"query"},{"required":true,"schema":{"type":"integer","title":"Chunks"},"name":"chunks","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelUsageResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/user-info":{"get":{"tags":["Users"],"summary":"User info","description":"Get basic information for the logged in user making this request including preferences.","operationId":"GET-V4-/user-info","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserInfo"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/user-preferences":{"patch":{"tags":["Users"],"summary":"Update user info","description":"Update preferences for the logged in user making this request.","operationId":"PATCH-V4-/user-preferences","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPreferencesUpdate"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPreferencesUpdateResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/users/{user_id}":{"get":{"tags":["Users"],"summary":"Get User","description":"Get basic information for a user. The requester must belong         to the same organization as the target user and be         an admin or manager of an account the target user belongs to.","operationId":"GET-V4-/users/{user_id}","parameters":[{"required":true,"schema":{"type":"string","title":"User Id"},"name":"user_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserInfoBase"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/accounts":{"post":{"tags":["Accounts"],"summary":"Create account","description":"Create a new account that with yourself as the admin.","operationId":"POST-V4-/accounts","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAccountRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAccountResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/question-sets/{question_set_id}":{"get":{"tags":["Question Sets"],"summary":"Get Question Set","operationId":"GET-V4-/v2/question-sets/{question_set_id}","parameters":[{"required":true,"schema":{"type":"string","title":"Question Set Id"},"name":"question_set_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuestionSetWithQuestions"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/evaluations/{evaluation_id}/claim-task":{"post":{"tags":["Evaluations"],"summary":"Claim Evaluation Task","operationId":"POST-V4-/claim-task","parameters":[{"required":true,"schema":{"type":"string","title":"Evaluation Id"},"name":"evaluation_id","in":"path"},{"required":false,"schema":{"type":"string","title":"X-Selected-Account-Id"},"name":"x-selected-account-id","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/evaluations/{evaluation_id}/tasks/{task_id}":{"patch":{"tags":["Evaluations"],"summary":"Update Evaluation Task","operationId":"PATCH-V4-/tasks/{task_id}","parameters":[{"required":true,"schema":{"type":"string","title":"Evaluation Id"},"name":"evaluation_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Task Id"},"name":"task_id","in":"path"},{"required":false,"schema":{"type":"string","title":"X-Selected-Account-Id"},"name":"x-selected-account-id","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTaskRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/evaluations/{evaluation_id}/contributor-metrics/{contributor_id}":{"get":{"tags":["Evaluations"],"summary":"Get Contributor Metrics","operationId":"GET-V4-/contributor-metrics/{contributor_id}","parameters":[{"required":true,"schema":{"type":"string","title":"Evaluation Id"},"name":"evaluation_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Contributor Id"},"name":"contributor_id","in":"path"},{"required":false,"schema":{"type":"string","title":"X-Selected-Account-Id"},"name":"x-selected-account-id","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContributorMetricsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/evaluations/{evaluation_id}/contributor-metrics":{"get":{"tags":["Evaluations"],"summary":"List Contributor Metrics","operationId":"GET-V4-/contributor-metrics","parameters":[{"required":true,"schema":{"type":"string","title":"Evaluation Id"},"name":"evaluation_id","in":"path"},{"description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","required":false,"schema":{"type":"integer","minimum":1.0,"title":"Page","description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","default":1},"name":"page","in":"query"},{"description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","required":false,"schema":{"type":"integer","maximum":10000.0,"minimum":1.0,"title":"Limit","description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","default":100},"name":"limit","in":"query"},{"required":false,"schema":{"type":"string","title":"X-Selected-Account-Id"},"name":"x-selected-account-id","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedContributorMetricsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/evaluations/{evaluation_id}/evaluation-metrics":{"get":{"tags":["Evaluations"],"summary":"Get Evaluation Metrics","operationId":"GET-V4-/evaluation-metrics","parameters":[{"required":true,"schema":{"type":"string","title":"Evaluation Id"},"name":"evaluation_id","in":"path"},{"required":false,"schema":{"type":"string","title":"X-Selected-Account-Id"},"name":"x-selected-account-id","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvaluationMetricsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/evaluations/{evaluation_id}/hybrid-eval-metrics":{"get":{"tags":["Evaluations"],"summary":"Get Hybrid Evaluation Metrics","operationId":"GET-V4-/hybrid-eval-metrics","parameters":[{"required":true,"schema":{"type":"string","title":"Evaluation Id"},"name":"evaluation_id","in":"path"},{"required":false,"schema":{"type":"string","title":"X-Selected-Account-Id"},"name":"x-selected-account-id","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HybridEvaluationMetricsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/evaluation-configs":{"get":{"tags":["Evaluation Configs"],"summary":"List Evaluation Configs","description":"### Description\nLists all evaluation configs accessible to the user.\n\n### Details\nThis API can be used to list evaluation configs. If a user has access to multiple accounts, all evaluation configs from all accounts the user is associated with will be returned.","operationId":"GET-V4-/evaluation-configs","parameters":[{"description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","required":false,"schema":{"type":"integer","minimum":1.0,"title":"Page","description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","default":1},"name":"page","in":"query"},{"description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","required":false,"schema":{"type":"integer","maximum":10000.0,"minimum":1.0,"title":"Limit","description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","default":100},"name":"limit","in":"query"},{"required":false,"schema":{"type":"string","title":"Account Id"},"name":"account_id","in":"query"},{"required":false,"schema":{"type":"string","title":"X-Selected-Account-Id"},"name":"x-selected-account-id","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedEvaluationConfigResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"post":{"tags":["Evaluation Configs"],"summary":"Create Evaluation Config","description":"### Description\nCreates a evaluation config\n\n### Details\nThis API can be used to create a evaluation config. To use this API, review the request schema and pass in all fields that are required to create a evaluation config.","operationId":"POST-V4-/evaluation-configs","parameters":[{"required":false,"schema":{"type":"string","title":"X-Selected-Account-Id"},"name":"x-selected-account-id","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvaluationConfigRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvaluationConfigResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/evaluation-configs/{evaluation_config_id}":{"get":{"tags":["Evaluation Configs"],"summary":"Get Evaluation Config","description":"### Description\nGets the details of a evaluation config\n\n### Details\nThis API can be used to get information about a single evaluation config by ID. To use this API, pass in the `id` that was returned from your Create Evaluation Config API call as a path parameter.\n\nReview the response schema to see the fields that will be returned.","operationId":"GET-V4-/evaluation-configs/{evaluation_config_id}","parameters":[{"required":true,"schema":{"type":"string","title":"Evaluation Config Id"},"name":"evaluation_config_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvaluationConfigResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"delete":{"tags":["Evaluation Configs"],"summary":"Delete Evaluation Config","description":"### Description\nDeletes a evaluation config\n\n### Details\nThis API can be used to delete a evaluation config by ID. To use this API, pass in the `id` that was returned from your Create Evaluation Config API call as a path parameter.","operationId":"DELETE-V4-/evaluation-configs/{evaluation_config_id}","parameters":[{"required":true,"schema":{"type":"string","title":"Evaluation Config Id"},"name":"evaluation_config_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/evaluation-datasets":{"get":{"tags":["Evaluation Datasets"],"summary":"List Evaluation Datasets","description":"### Description\nLists all evaluation datasets accessible to the user.\n\n### Details\nThis API can be used to list evaluation datasets. If a user has access to multiple accounts, all evaluation datasets from all accounts the user is associated with will be returned.","operationId":"GET-V4-/evaluation-datasets","parameters":[{"required":false,"schema":{"items":{"$ref":"#/components/schemas/EvaluationDatasetViewsOptions"},"type":"array"},"name":"view","in":"query"},{"description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","required":false,"schema":{"type":"integer","minimum":1.0,"title":"Page","description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","default":1},"name":"page","in":"query"},{"description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","required":false,"schema":{"type":"integer","maximum":10000.0,"minimum":1.0,"title":"Limit","description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","default":100},"name":"limit","in":"query"},{"required":false,"schema":{"type":"string","title":"Account Id"},"name":"account_id","in":"query"},{"required":false,"schema":{"type":"boolean","title":"Include Archived","default":false},"name":"include_archived","in":"query"},{"required":false,"schema":{"type":"string","title":"X-Selected-Account-Id"},"name":"x-selected-account-id","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedEvaluationDatasetResponseWithViews"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"post":{"tags":["Evaluation Datasets"],"summary":"Create Evaluation Dataset","description":"### Description\nCreates a evaluation dataset\n\n### Details\nThis API can be used to create a evaluation dataset. To use this API, review the request schema and pass in all fields that are required to create a evaluation dataset.","operationId":"POST-V4-/evaluation-datasets","parameters":[{"required":false,"schema":{"type":"string","title":"X-Selected-Account-Id"},"name":"x-selected-account-id","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEvaluationDatasetRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvaluationDatasetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/evaluation-datasets/{evaluation_dataset_id}":{"get":{"tags":["Evaluation Datasets"],"summary":"Get Evaluation Dataset","description":"### Description\n\nGets the details of a dataset.","operationId":"GET-V4-/evaluation-datasets/{evaluation_dataset_id}","parameters":[{"required":true,"schema":{"type":"string","title":"Evaluation Dataset Id"},"name":"evaluation_dataset_id","in":"path"},{"required":false,"schema":{"items":{"$ref":"#/components/schemas/EvaluationDatasetViewsOptions"},"type":"array"},"name":"view","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvaluationDatasetResponseWithViews"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"delete":{"tags":["Evaluation Datasets"],"summary":"Delete Evaluation Dataset","description":"### Description\n\nDeletes the dataset, and all other entities associated with the dataset, such as test cases, evaluations and results.\n\n### Details\n\n**This is a permanent and destructive action that cannot be undone.**","operationId":"DELETE-V4-/evaluation-datasets/{evaluation_dataset_id}","parameters":[{"required":true,"schema":{"type":"string","title":"Evaluation Dataset Id"},"name":"evaluation_dataset_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"patch":{"tags":["Evaluation Datasets"],"summary":"Update Evaluation Dataset","description":"### Description\nUpdates a evaluation dataset\n\n### Details\nThis API can be used to update the evaluation dataset that matches the ID that was passed in as a path parameter. To use this API, pass in the `id` that was returned from your Create Evaluation Dataset API call as a path parameter.\n\nReview the request schema to see the fields that can be updated.","operationId":"PATCH-V4-/evaluation-datasets/{evaluation_dataset_id}","parameters":[{"required":true,"schema":{"type":"string","title":"Evaluation Dataset Id"},"name":"evaluation_dataset_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestorablePatchEvaluationDatasetRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvaluationDatasetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/evaluation-datasets/{evaluation_dataset_id}/evaluation-dataset-versions":{"get":{"tags":["Evaluation Datasets"],"summary":"List Evaluation Dataset Versions","description":"### Description\nLists all evaluation dataset versions accessible to the user.\n\n### Details\nThis API can be used to list evaluation dataset versions. If a user has access to multiple accounts, all evaluation dataset versions from all accounts the user is associated with will be returned.","operationId":"GET-V4-/evaluation-datasets/{evaluation_dataset_id}/evaluation-dataset-versions","parameters":[{"required":true,"schema":{"type":"string","title":"Evaluation Dataset Id"},"name":"evaluation_dataset_id","in":"path"},{"description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","required":false,"schema":{"type":"integer","minimum":1.0,"title":"Page","description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","default":1},"name":"page","in":"query"},{"description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","required":false,"schema":{"type":"integer","maximum":10000.0,"minimum":1.0,"title":"Limit","description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","default":100},"name":"limit","in":"query"},{"required":false,"schema":{"type":"string","title":"Account Id"},"name":"account_id","in":"query"},{"required":false,"schema":{"type":"boolean","title":"Include Archived","default":false},"name":"include_archived","in":"query"},{"required":false,"schema":{"type":"string","title":"X-Selected-Account-Id"},"name":"x-selected-account-id","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedEvaluationDatasetVersionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"post":{"tags":["Evaluation Datasets"],"summary":"Create Evaluation Dataset Version","description":"### Description\nCreates a evaluation dataset version\n\n### Details\nThis API can be used to create a evaluation dataset version. To use this API, review the request schema and pass in all fields that are required to create a evaluation dataset version.","operationId":"POST-V4-/evaluation-datasets/{evaluation_dataset_id}/evaluation-dataset-versions","parameters":[{"required":true,"schema":{"type":"string","title":"Evaluation Dataset Id"},"name":"evaluation_dataset_id","in":"path"},{"required":false,"schema":{"type":"string","title":"X-Selected-Account-Id"},"name":"x-selected-account-id","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvaluationDatasetVersionRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvaluationDatasetVersionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/evaluation-datasets/{evaluation_dataset_id}/evaluation-dataset-versions/{evaluation_dataset_version_id}":{"get":{"tags":["Evaluation Datasets"],"summary":"Get Evaluation Dataset Version","description":"### Description\nGets the details of a evaluation dataset version\n\n### Details\nThis API can be used to get information about a single evaluation dataset version by ID. To use this API, pass in the `id` that was returned from your Create Evaluation Dataset Version API call as a path parameter.\n\nReview the response schema to see the fields that will be returned.","operationId":"GET-V4-/evaluation-datasets/{evaluation_dataset_id}/evaluation-dataset-versions/{evaluation_dataset_version_id}","parameters":[{"required":true,"schema":{"type":"string","title":"Evaluation Dataset Version Id"},"name":"evaluation_dataset_version_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Evaluation Dataset Id"},"name":"evaluation_dataset_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvaluationDatasetVersionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/evaluation-datasets/{evaluation_dataset_id}/test-cases":{"get":{"tags":["Evaluation Datasets"],"summary":"List Test Cases","description":"### Description\nList all test cases for a selected dataset.","operationId":"GET-V4-/evaluation-datasets/{evaluation_dataset_id}/test-cases","parameters":[{"required":true,"schema":{"type":"string","title":"Evaluation Dataset Id"},"name":"evaluation_dataset_id","in":"path"},{"description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","required":false,"schema":{"type":"integer","minimum":1.0,"title":"Page","description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","default":1},"name":"page","in":"query"},{"description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","required":false,"schema":{"type":"integer","maximum":10000.0,"minimum":1.0,"title":"Limit","description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","default":100},"name":"limit","in":"query"},{"required":false,"schema":{"type":"string","title":"Account Id"},"name":"account_id","in":"query"},{"required":false,"schema":{"type":"boolean","title":"Include Archived","default":false},"name":"include_archived","in":"query"},{"required":false,"schema":{"type":"string","title":"X-Selected-Account-Id"},"name":"x-selected-account-id","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedTestCaseVersionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"post":{"tags":["Evaluation Datasets"],"summary":"Create Test Case","description":"### Description\nCreate a test case for a selected dataset.","operationId":"POST-V4-/evaluation-datasets/{evaluation_dataset_id}/test-cases","parameters":[{"required":true,"schema":{"type":"string","title":"Evaluation Dataset Id"},"name":"evaluation_dataset_id","in":"path"},{"required":false,"schema":{"type":"string","title":"X-Selected-Account-Id"},"name":"x-selected-account-id","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestCaseVersionRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestCaseVersionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/evaluation-datasets/{evaluation_dataset_id}/test-cases/batch":{"post":{"tags":["Evaluation Datasets"],"summary":"Batch Create Test Cases","description":"### Description\nCreates a batch of test cases\n\n### Details\nThis API can be used to create multiple test cases so users do not have to the incur the cost of repeated network calls. To use this API, pass in a list of test cases in the request body.","operationId":"POST-V4-/evaluation-datasets/{evaluation_dataset_id}/test-cases/batch","parameters":[{"required":true,"schema":{"type":"string","title":"Evaluation Dataset Id"},"name":"evaluation_dataset_id","in":"path"},{"required":false,"schema":{"type":"string","title":"X-Selected-Account-Id"},"name":"x-selected-account-id","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/TestCaseVersionRequest"},"type":"array","title":"Request"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/TestCaseVersionResponse"},"type":"array","title":"Response Post-V4-/Evaluation-Datasets/{Evaluation Dataset Id}/Test-Cases/Batch"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/evaluation-datasets/{evaluation_dataset_id}/test-cases/{test_case_id}":{"get":{"tags":["Evaluation Datasets"],"summary":"Get Test Case","description":"### Description\nGet the test case by its id.","operationId":"GET-V4-/evaluation-datasets/{evaluation_dataset_id}/test-cases/{test_case_id}","parameters":[{"required":true,"schema":{"type":"string","title":"Test Case Id"},"name":"test_case_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Evaluation Dataset Id"},"name":"evaluation_dataset_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestCaseVersionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"delete":{"tags":["Evaluation Datasets"],"summary":"Delete Test Case","description":"### Description\nDelete a specified test case -- retaining older version belonging to older dataset versions.\n\n### Details\nThis request shouldn't be used when deleting due to compliance reasons. See Wipe action.","operationId":"DELETE-V4-/evaluation-datasets/{evaluation_dataset_id}/test-cases/{test_case_id}","parameters":[{"required":true,"schema":{"type":"string","title":"Evaluation Dataset Id"},"name":"evaluation_dataset_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Test Case Id"},"name":"test_case_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"patch":{"tags":["Evaluation Datasets"],"summary":"Update Test Case","description":"### Description\nUpdate a test case.","operationId":"PATCH-V4-/evaluation-datasets/{evaluation_dataset_id}/test-cases/{test_case_id}","parameters":[{"required":true,"schema":{"type":"string","title":"Test Case Id"},"name":"test_case_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Evaluation Dataset Id"},"name":"evaluation_dataset_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestorablePartialTestCaseVersionRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestCaseVersionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/evaluation-datasets/{evaluation_dataset_id}/test-cases/{test_case_id}/history/{num}":{"get":{"tags":["Evaluation Datasets"],"summary":"Get Historical Test Case","description":"### Description\nGet the test case by its id for a specified dataset version.","operationId":"GET-V4-/evaluation-datasets/{evaluation_dataset_id}/test-cases/{test_case_id}/history/{num}","parameters":[{"required":true,"schema":{"type":"string","title":"Num"},"name":"num","in":"path"},{"required":true,"schema":{"type":"string","title":"Test Case Id"},"name":"test_case_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Evaluation Dataset Id"},"name":"evaluation_dataset_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestCaseVersionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/evaluation-datasets/{evaluation_dataset_id}/test-cases/history/{num}":{"get":{"tags":["Evaluation Datasets"],"summary":"List Historical Test Cases","description":"### Description\nList all test cases for a specified dataset version.","operationId":"GET-V4-/evaluation-datasets/{evaluation_dataset_id}/test-cases/history/{num}","parameters":[{"required":true,"schema":{"type":"string","title":"Num"},"name":"num","in":"path"},{"required":true,"schema":{"type":"string","title":"Evaluation Dataset Id"},"name":"evaluation_dataset_id","in":"path"},{"description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","required":false,"schema":{"type":"integer","minimum":1.0,"title":"Page","description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","default":1},"name":"page","in":"query"},{"description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","required":false,"schema":{"type":"integer","maximum":10000.0,"minimum":1.0,"title":"Limit","description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","default":100},"name":"limit","in":"query"},{"required":false,"schema":{"type":"string","title":"Account Id"},"name":"account_id","in":"query"},{"required":false,"schema":{"type":"string","title":"X-Selected-Account-Id"},"name":"x-selected-account-id","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedTestCaseVersionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/evaluation-datasets/{evaluation_dataset_id}/test-cases/{test_case_id}/history":{"delete":{"tags":["Evaluation Datasets"],"summary":"Wipe Full History of Test Cases","description":"### Description\nDelete a specified test case and remove all its history from past dataset versions too.","operationId":"DELETE-V4-/evaluation-datasets/{evaluation_dataset_id}/test-cases/{test_case_id}/history","parameters":[{"required":true,"schema":{"type":"string","title":"Evaluation Dataset Id"},"name":"evaluation_dataset_id","in":"path"},{"required":true,"schema":{"type":"string","title":"Test Case Id"},"name":"test_case_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/studio-projects":{"get":{"tags":["Studio Projects"],"summary":"List Studio Projects","description":"### Description\nLists all studio projects accessible to the user.\n\n### Details\nThis API can be used to list studio projects. If a user has access to multiple accounts, all studio projects from all accounts the user is associated with will be returned.","operationId":"GET-V4-/studio-projects","parameters":[{"description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","required":false,"schema":{"type":"integer","minimum":1.0,"title":"Page","description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","default":1},"name":"page","in":"query"},{"description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","required":false,"schema":{"type":"integer","maximum":10000.0,"minimum":1.0,"title":"Limit","description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","default":100},"name":"limit","in":"query"},{"required":false,"schema":{"type":"string","title":"Account Id"},"name":"account_id","in":"query"},{"required":false,"schema":{"type":"string","title":"X-Selected-Account-Id"},"name":"x-selected-account-id","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedStudioProjectResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"post":{"tags":["Studio Projects"],"summary":"Create Studio Project","description":"### Description\nCreates a studio project\n\n### Details\nThis API can be used to create a studio project. To use this API, review the request schema and pass in all fields that are required to create a studio project.","operationId":"POST-V4-/studio-projects","parameters":[{"required":false,"schema":{"type":"string","title":"X-Selected-Account-Id"},"name":"x-selected-account-id","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudioProjectRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudioProjectResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/studio-projects/{studio_project_id}":{"get":{"tags":["Studio Projects"],"summary":"Get Studio Project","description":"### Description\nGets the details of a studio project\n\n### Details\nThis API can be used to get information about a single studio project by ID. To use this API, pass in the `id` that was returned from your Create Studio Project API call as a path parameter.\n\nReview the response schema to see the fields that will be returned.","operationId":"GET-V4-/studio-projects/{studio_project_id}","parameters":[{"required":true,"schema":{"type":"string","title":"Studio Project Id"},"name":"studio_project_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudioProjectResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"delete":{"tags":["Studio Projects"],"summary":"Delete Studio Project","description":"### Description\nDeletes a studio project\n\n### Details\nThis API can be used to delete a studio project by ID. To use this API, pass in the `id` that was returned from your Create Studio Project API call as a path parameter.","operationId":"DELETE-V4-/studio-projects/{studio_project_id}","parameters":[{"required":true,"schema":{"type":"string","title":"Studio Project Id"},"name":"studio_project_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"patch":{"tags":["Studio Projects"],"summary":"Update Studio Project","description":"### Description\nUpdates a studio project\n\n### Details\nThis API can be used to update the studio project that matches the ID that was passed in as a path parameter. To use this API, pass in the `id` that was returned from your Create Studio Project API call as a path parameter.\n\nReview the request schema to see the fields that can be updated.","operationId":"PATCH-V4-/studio-projects/{studio_project_id}","parameters":[{"required":true,"schema":{"type":"string","title":"Studio Project Id"},"name":"studio_project_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartialStudioProjectRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudioProjectResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/application-specs":{"get":{"tags":["Application Specs"],"summary":"List Application Specs","description":"### Description\nLists all application specs accessible to the user.\n\n### Details\nThis API can be used to list application specs. If a user has access to multiple accounts, all application specs from all accounts the user is associated with will be returned.","operationId":"GET-V4-/application-specs","parameters":[{"description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","required":false,"schema":{"type":"integer","minimum":1.0,"title":"Page","description":"Page number for pagination to be returned by the given endpoint. Starts at page 1","default":1},"name":"page","in":"query"},{"description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","required":false,"schema":{"type":"integer","maximum":10000.0,"minimum":1.0,"title":"Limit","description":"Maximum number of artifacts to be returned by the given endpoint. Defaults to 100 and cannot be greater than 10k.","default":100},"name":"limit","in":"query"},{"required":false,"schema":{"type":"string","title":"Account Id"},"name":"account_id","in":"query"},{"required":false,"schema":{"type":"boolean","title":"Include Archived","default":false},"name":"include_archived","in":"query"},{"required":false,"schema":{"type":"string","title":"X-Selected-Account-Id"},"name":"x-selected-account-id","in":"header"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedApplicationSpecResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"post":{"tags":["Application Specs"],"summary":"Create Application Spec","description":"### Description\nCreates a application spec\n\n### Details\nThis API can be used to create a application spec. To use this API, review the request schema and pass in all fields that are required to create a application spec.","operationId":"POST-V4-/application-specs","parameters":[{"required":false,"schema":{"type":"string","title":"X-Selected-Account-Id"},"name":"x-selected-account-id","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationSpecRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationSpecResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v4/application-specs/{application_spec_id}":{"get":{"tags":["Application Specs"],"summary":"Get Application Spec","description":"### Description\nGets the details of a application spec\n\n### Details\nThis API can be used to get information about a single application spec by ID. To use this API, pass in the `id` that was returned from your Create Application Spec API call as a path parameter.\n\nReview the response schema to see the fields that will be returned.","operationId":"GET-V4-/application-specs/{application_spec_id}","parameters":[{"required":true,"schema":{"type":"string","title":"Application Spec Id"},"name":"application_spec_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationSpecResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"delete":{"tags":["Application Specs"],"summary":"Delete Application Spec","description":"### Description\nDeletes a application spec\n\n### Details\nThis API can be used to delete a application spec by ID. To use this API, pass in the `id` that was returned from your Create Application Spec API call as a path parameter.","operationId":"DELETE-V4-/application-specs/{application_spec_id}","parameters":[{"required":true,"schema":{"type":"string","title":"Application Spec Id"},"name":"application_spec_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]},"patch":{"tags":["Application Specs"],"summary":"Update Application Spec","description":"### Description\nUpdates a application spec\n\n### Details\nThis API can be used to update the application spec that matches the ID that was passed in as a path parameter. To use this API, pass in the `id` that was returned from your Create Application Spec API call as a path parameter.\n\nReview the request schema to see the fields that can be updated.","operationId":"PATCH-V4-/application-specs/{application_spec_id}","parameters":[{"required":true,"schema":{"type":"string","title":"Application Spec Id"},"name":"application_spec_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestorablePartialApplicationSpecRequest"}}},"required":true},"responses":{"200":{"description
[...]
